body.login-page {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url("/public/images/login-bg.jpg") no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh; /* Ensures the background covers the full height of the viewport */
  width: 220vh;
  display: flex; /* Centers the content vertically and horizontally */
  align-items: center;
  justify-content: center;
}

/* Form container with semi-transparent background */
.login-container {
  max-width: 450px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.7); /* Medium transparency (70% opaque) */
  text-align: left;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1; /* Ensure the form is above the background */
}

/* Styling for the form's title */
.login-container h1 {
  font-size: 2rem;
  color: #282c34;
}

/* Button styling */
.login-container .btn-primary {
  background-color: #2c3e50;
  font-weight: bold;
  width: 100%;
  text-align: center;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  margin: 20px auto;
}

.login-container .btn-primary:hover {
  background-color: green;
}

/* Footer section links */
.login-container .login-footer {
  margin-top: 10px;
}

.login-container .forgot-password-link,
.login-container .register-link {
  color: #551a8b;
  text-decoration: none;
  font-size: 0.9rem;
}

.login-container .forgot-password-link:hover,
.login-container .register-link:hover {
  text-decoration: underline;
}

.login-container .register-link {
  margin-left: 50px;
}

/* Input fields and error messages */
.login-container .form-group {
  margin-bottom: 15px;
}

.login-container .form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.login-container .form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-container .form-group1 input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Error message styling */
.login-container .error {
  color: #e74c3c;
  font-size: 12px;
  text-align: left;
}

/* Input fields with error */
.login-container input.input-error {
  border-color: #e74c3c;
  box-shadow: 0 0 5px #e74c3c;
}

.login-container select.error {
  border-color: #e74c3c;
  box-shadow: 0 0 5px #e74c3c;
}

/* Success or info messages */
.login-container .message {
  color: green;
  font-size: 1rem;
  margin-top: 15px;
}

.login-container .message {
  color: green;
  font-size: 1rem;
  margin-top: 15px;
}

.login-container .error-message {
  color: red;
  font-size: 1rem;
  margin-top: 15px;
}

/* Error text styling for the login form */
.login-container .error-text {
  color: #e74c3c;
  font-size: 12px;
  margin-top: 5px;
}
